@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-muted: var(--muted);
  --color-primary: var(--primary);;
}

:root {
  --background: #EDDBFF;
  --background-light: #FBF7FF;
  --background-dark: #E0C2FF;
  --foreground: #474554;
  --primary: #7E78D2;
  --muted: #ACA9BB;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #AD5CFF;
  --ring: #7E78D2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background-light text-foreground;
  }
}

@layer components {
    .heading1 {
        @apply text-4xl md:text-5xl xl:text-6xl font-bold
    }

    .heading2 {
        @apply text-3xl md:text-4xl xl:text-5xl font-bold
    }

    .heading3 {
        @apply text-2xl md:text-3xl xl:text-4xl font-semibold
    }

    .bigger-text {
        @apply text-lg md:text-xl xl:text-2xl font-medium
    }

    .heading-margin-bottom {
        @apply mb-10 md:mb-16
    }
}